<%#
Copyright (C) 2025  gemmaro <gemmaro.dev@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
%>

<fieldset>
  <legend><%= l(:plugin_settings) %></legend>
  <p>
    <label><%= l(:allow_includes) %></label>
    <%= check_box_tag 'settings[allow_includes]', 1, @settings['allow_includes'] %>
  </p> <p>
    <label><%= l(:cache_expiration) %></label>
    <%= text_field_tag 'settings[cache_seconds]', @settings['cache_seconds'], size: 10, disabled: true %> seconds
  </p>
  <p>
    <label><%= l(:plantuml_binary) %></label>
    <%= text_field_tag 'settings[plantuml_binary_default]', @settings['plantuml_binary_default'], size: 60 %>
  </p>

</fieldset>
